<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<form class="container" ng-controller="indexController">
    <h3>Список продуктов</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>
                <button class="btn" ng-click="deleteProduct(p.id)">Убрать</button>
            </td>
        </tr>

        <tr>
        <td>
            <p><strong>ID</strong><br>
                <input type="text" name = "${p.ID}"  size=35 maxlength=150></p>
        </td>
            <td VALIGN="=top">
                <p><strong>Наименование</strong><br>
                    <input type="text" name ="${p.title}"  size=35 maxlength=150></p>
            </td>
            <td VALIGN="=top">
                <p><strong>Цена</strong><br>
                    <input type="text" name ="${p.cost}"  size=35 maxlength=150></p>
            </td>
            <td>
                <button class="btn" ng-click="addProduct(p.ID,p.title,p.cost)">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>